@mixin home() {
  .home {
    font-size: 1.6rem;

    &__sidebar {
      height: 100%;
      width: 16rem;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #cccccc;
      overflow-x: hidden;
      padding-top: 16px;

      &-item {
        font-size: 1.6rem;
      }
    }

    &__main,
    &__user {
      margin-left: 16rem;
    }

    &__user {
      display: flex;
      justify-content: center;
      height: 50px;
      font-size: 1.6rem;
    }
  }
}
