@mixin login {
  .login {
    width: 100%;
    height: 100%;
    background: #fff8e5;

    &-container {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      width: 38.2rem;
      overflow: hidden;
      margin: auto;
      margin: 20 0 0 45rem;
      padding: 8rem;
      background: #ffffff;
      border-radius: 1.6rem;

      &__title {
        font-size: 2.4rem;
        text-align: center;
        color: #000000;
        padding: 2rem;
      }

      &__button {
        border-radius: 0.8rem;
        border: none;
        padding: 0.4rem 1.6rem;
        background: #f7b500;
        color: #ffffff;
      }

      &__form {
        display: grid;
        grid-gap: 0.5rem;

        .error-message {
          color: red;
        }
      }

      input {
        border: 0.1rem solid gray;
      }
    }
  }
}
