@use './modules/main-app/index.scss' as mainAppModule;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 62.5%;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@include mainAppModule.load();
